:root {
  background-color: white;
}

body {
  height: 100%;
  background-color: #ffffff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0%;
}

main {
  color: #000

}

.body {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5vh;
  /* margin-left: 5%; */
  
}

.circular {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  color: #fff;
  border-style: none;
  background: linear-gradient(to top, #298754, #84b69b 90%);
}

.sub-head{
  background: linear-gradient(to top, #84b69b 0% ,  #298754 90%);
  margin-top:auto;
}

.title-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills {
  display: flex;
}