/* .main {
  background-image: "../images/aaron-burden-RgTI2KaQ5N4-unsplash.jpg";
  background-repeat: no-repeat;
  background-attachment: fixed;
} */

.container{
   display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin: none;
  max-width: 100%;
  font-family: sans-serif;
  border: solid 1.5em;
  border-color: transparent;
  background: 
  linear-gradient(to right, #c0d5ca 0%, #298754 15%, #000 50%, #298754 85%, #c0d5ca 100%);
  background-color: #dbfef5;
}

/* .sub-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin: none;
  max-width: 100%;
  font-family: sans-serif;
  border: solid 1.5em;
  border-color: transparent;
  background: 
  linear-gradient(to right, #032e17 0%,  #08592d 15%, #212b12 50%, #08592d 85%,  #032e17 100%);
  background-color: #dbfef5;

  
} */

.heading {
  color: whitesmoke;
}

h2.heading {
  font-style: italic;
}

.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.nav-link-item {
  padding-right: 2rem;
}

.nav-link-text {
  color: whitesmoke;
}

a:link {
  text-decoration: none;
}

.header-circle-div {
  display: flex;
  flex-direction: column;
  align-items: center;  
}
.header-circle{
  border-style: solid;
  border-radius: 50%;
  height: 100px;
  width: 20px;
  border-color: #fff;
}

.header-circle-2{
  border-style: solid;
  border-radius: 50%;
  height: 100px;
  width: 20px;
  position: relative;
  bottom: 15px;
  transform: rotate(120deg);
  border-color: #fff;
}

.header-circle-3{
  border-style: solid;
  border-radius: 50%;
  height: 100px;
  width: 20px;
  position: relative;
  bottom: 15px;
  transform: rotate(120deg);
  border-color: #fff;
}

.sub-head{
  background: linear-gradient(to top, #84b69b 0% ,  #298754 90%);
  margin-top:auto;
}
