/* .main {
  background-image: "../images/aaron-burden-RgTI2KaQ5N4-unsplash.jpg";
  background-repeat: no-repeat;
  background-attachment: fixed;
} */

/* .container{
  
} */

.sub-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin: auto;
  max-width: 90%;
  font-family: sans-serif;
  border: solid 1.5em;
  border-color: transparent;
  background: 
  linear-gradient(to right, #032e17 0%,  #08592d 15%, #212b12 50%, #08592d 85%,  #032e17 100%);
  background-color: #dbfef5;

  /* background-color: rgb(59, 59, 59); */
}

.heading {
  color: whitesmoke;
}

.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.nav-link-item {
  padding-right: 2rem;
}

.nav-link-text {
  color: whitesmoke;
}

a:link {
  text-decoration: none;
}

.header-circle-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-circle{
  border-style: solid;
  border-radius: 50%;
  border-width: 6px;
  height: 100px;
  width: 20px;
}

.header-circle-2{
  border-style: solid;
  border-radius: 50%;
  border-width: 6px;
  height: 100px;
  width: 20px;
  position: relative;
  bottom: 15px;
  transform: rotate(120deg);
}

.header-circle-3{
  border-style: solid;
  border-radius: 50%;
  border-width: 6px;
  height: 100px;
  width: 20px;
  position: relative;
  bottom: 15px;
  transform: rotate(120deg);
}
